################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ImportGPSToDB/bin/Debug
/ImportGPSToDB/obj
/packages
/.vs/ImportGPSToDB/v15
/.vs
